body {
	font-family: 'Roboto', sans-serif;
	color: #323a45;
}

a {
	color: #323a45 !important;
}

.screenreader-text {
	position: absolute;
	left: -999px;
	width:1px;
	height: 1px;
	top: auto;
}

a:focus {
	outline: none;
}

.focus-outline:focus-visible {
	outline: lightgreen solid 2px;
}

.screenreader-text:focus {
	color: #000000;
	display: inline-block;
	height: auto;
	width: auto;
	position: static;
	margin: auto;
}

#scroll {
  position:fixed;
  right:15px;
  bottom:15px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#444;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
	opacity: .5
}

#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#FF2400;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

.navbar {
	background-color: #FFF;
}

.navbar-nav {
	flex-direction: row !important;
	justify-content: space-around;
}

.nav-item {
	padding: 0 15px 0 0;
}

.anchor {
  display:block;
  height:100px; 
  margin-top:-100px;
  visibility:hidden;
}

.hero {
	background-image: url('./Images/max-patch.png');
	background-size: cover;
	background-position: center;
}

.hero h1 {
	font-family: 'Anton', sans-serif;
}


.hero-vert {
	position: relative;
	height: 500px;
}

.vert {
	position: relative;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title-block {
	color: #323a45;
	text-align: center;
}

.section-pad {
	padding-top:40px; 
	padding-bottom:40px;
}

.section-dark-background {
	background-color: #EEEEEE;
}

.about-me p {
	line-height: 2;
}

.about-me img {
	/* clip-path: circle(); */
	width: 100%;
	height: auto;
	margin: auto 0;
}

.about-me .nyc {
	margin-top: 20%;
	
}

.carousel-item {
	height: 600px;
}

.technologies-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  color: #444;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin: 25px;
	font-size: 150%;
	height: 100px;
	width: 100px;
}

.box i {
	display: flex;
	justify-content: center;
}

.projects img {
	margin-bottom: 30px;
}

.drum {
	padding-top: 21%;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

#footer {
	padding: 40px 0 40px 0;
}

.social-icons {
	display: flex;
	justify-content: flex-end; 
}

.social-icons a {
	padding: 0 10px 0 10px;
}

@media only screen and (max-width : 992px) {
	
	.footer {
		text-align: center;
	}
	
	.social-icons {
		justify-content: center;
	}
	
}
